<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.njmeter.bluetooth">

    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- API>=19添加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <!-- API>=23添加 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".BluetoothApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 欢迎页面 -->
        <activity
            android:name=".activity.LogoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 蓝牙工具选择设备类型页面 -->
        <activity
            android:name=".activity.BluetoothToolsMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 蓝牙工具水表设置页面 -->
        <activity
            android:name=".activity.WaterMeterSettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 蓝牙工具热表设置页面 -->
        <activity
            android:name=".activity.HeatMeterSettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 蓝牙工具智能消火栓设置页面 -->
        <activity
            android:name=".activity.HydrantSettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 蓝牙工具阀门设置页面 -->
        <activity
            android:name=".activity.ValveSettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 蓝牙工具采集器设置页面 -->
        <activity
            android:name=".activity.GPRSCollectorSettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 蓝牙工具无线LoRa设置页面 -->
        <activity
            android:name=".activity.LoRaSettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>
</manifest>